<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="necrodrive_ros2_control" params="name prefix">
  
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>necrodrive_ros2/NecrodriveSystem</plugin>
        <param name="can_interface">can0</param>
        <param name="odrive_id">0</param>
        <param name="write_timeout_ns">20</param>
        <param name="read_timeout_ns">1000</param>
        <param name="heartbeat_timeout_ms">150</param>
      </hardware>
      <joint name="${prefix}_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
